/* line 1, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* line 7, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
h1, h2 {
  margin: 1em 0 0 0;
  text-align: center; }

/* line 11, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
h2 {
  margin: 0 0 1em 0; }

/* line 14, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#container {
  margin: 0 auto;
  width: 50%; }

/* line 18, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion input {
  display: none; }

/* line 21, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion label {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  color: #fff;
  height: 10rem;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: 0.125em;
  padding: 2em 1em;
  z-index: 20;
  font-size: 2.5em; }

/* line 36, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion label:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Open sans', sans-serif;
  font-weight: 400; }

/* line 42, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  margin-bottom: 0; }

/* line 48, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion article {
  background: #fff;
  height: 0px;
  overflow: hidden;
  z-index: 10; }

/* line 54, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion article p {
  padding: 1em; }

/* line 59, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
#accordion input:checked ~ article {
  height: auto;
  margin-bottom: 0.125em; }

/* line 66, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
.accordion-bhutan {
  background: url('../images/bhutan.jpg') no-repeat right center; }

/* line 70, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
.accordion-india {
  background: url('../images/india-city-child.jpg') no-repeat center left; }

/* line 74, /Users/shelleybabij/Documents/Web/semester 5/exercise-4/scss/components/main */
.accordion-nepal {
  background: url('../images/nepal-landscape.jpg') no-repeat center center; }
